<%= link_to 'Daigle System', articles_path%> |
<%= link_to 'About', about_path%>
<div class="left jumbotron">
    <h1>Daigle System</h1>
    <%= link_to "Sign up now", signup_path, class: "btn btn-link btn-lg btn-xlarge" %>
</div>

